@charset "utf-8";
html,body{
	height: 100%;
}
.wrap{
	width:90%;
	height: 100%;
	margin:0 auto;
}

table{
	border-collapse: collapse;
	width:100%;
}
th{
	border: 1px solid;
	padding: 0.5em;
	text-align: left;
}
td{
	border: 1px solid;
	padding: 0.5em;
	text-align: left;
	word-break:break-all;
}
.record_list{
	font-size: 0.8em;
	height: 50%;
	overflow: auto;
	margin-bottom: 1em;
	border:1px solid #ccc;
}
.record_summary{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
	height: 30%;
	font-size: 0.8em;
	.item{
		flex-grow:1;
		flex-shrink:1;
		flex-basis:30%;
		min-width:0;
		overflow: auto;
		border:1px solid #ccc;
		height: 100%;
	}
}